:root {
    --primary-color: #575DFB;
}

body {
    font-family: sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#C657D8 0.5px, transparent 0.5px), radial-gradient(#C657D8 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

form{
    max-width: 50%;
    height: 500px;
    background-color: #fff;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 0.5rem;
}

h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    text-align: center;
}

p{
    font-size: 1rem;
    padding: 0 0.9rem;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

label, input{
    margin-left: 0.8rem;
    margin-right: 1rem;
}

label{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

input{
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 0.8rem;
}

input:nth-child(4){
    margin-bottom: 1.8rem;
}

button{
    background-color: #575DFB;
    color: #fff;
    border: none;
    height: 40px;
    width: 50%;
    margin: 1rem auto;
    border-radius: 1rem;
    font-size: 1em;
    transition: 0.4s;
}

button:hover{
    background-color: #464CEA;
}

a{
    text-decoration: none;
    color: #575DFB;
    font-weight: 500;
    transition: 0.4s;

}

a:hover{
    color: #464CEA;
}

@media only screen and (min-width: 992px){
 
    input{
        width: 50%;
    }

    input{
        margin: auto;
    }

    label{
        align-self: flex-start;
        margin-bottom: -6rem;
        margin-left: 10em;
    }

    button{
        width: 30%;
        margin-top: -3rem;
    }

}