<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PlataformaProyectosAula-cliente/

    #Redirect all of the request to index.php
    RewriteCond %{request_filename} !-f
    RewriteCond %{request_filename} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>