Options -MultiViews
RewriteEngine On
# Si el archivo o directorio solicitado existe, omite la reescritura
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ index.php [QSA,L]